[project]
	description = Awesome list for board game Go/Baduk/Weiqi
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yan Anisimov (yanchick)
[access "refs/for/refs/*"]
	read = group user/Yan Anisimov (yanchick)
	push = group user/Yan Anisimov (yanchick)
	label-Code-Review = -2..+2 group user/Yan Anisimov (yanchick)
	label-Verified = -1..+1 group user/Yan Anisimov (yanchick)
	rebase = group user/Yan Anisimov (yanchick)
	removeReviewer = group user/Yan Anisimov (yanchick)
	submit = group user/Yan Anisimov (yanchick)
[access "refs/heads/*"]
	read = group user/Yan Anisimov (yanchick)
	create = group user/Yan Anisimov (yanchick)
	push = +force group user/Yan Anisimov (yanchick)
	pushMerge = group user/Yan Anisimov (yanchick)
[access "refs/tags/*"]
	push = +force group user/Yan Anisimov (yanchick)
	pushTag = group user/Yan Anisimov (yanchick)
	pushSignedTag = group user/Yan Anisimov (yanchick)
